/* DashboardComponent's private CSS styles */

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}

.colItems {
  width: 200px;
}

a:hover {
  background-color: black;
}